.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 700;
  font-style: normal;
}
body {
      font-family: 'Alfa Slab One', sans-serif;
    }

    h1 {
      font-family: 'Alfa Slab One', serif;
      font-weight:700;
    }
